*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cnt{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    margin-top: 150px;
    width: 50%;
    height: auto;
    background-color:cornflowerblue;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    display: flex;
}